/* CSS stylesheet */
header {
	background: url(../images/skylinesm.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	height: 300px;
}

.circle {
	width: 100%;
	height: auto;
	max-width: 150px;
	margin: 0 auto;
	display: block;
}

.options section {
	text-align: center;
}

@media(min-width: 1200px) {
	h3 {
		margin-top: 0;
	}
	.options section {
		text-align: left;
	}
}