/* CSS stylesheet */
header {
	background: url(../images/skylinesm.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	height: 300px;
}

.banner-txt {
	font: 270% 'Open Sans Condensed', sans-serif;
}

.landing-hdr {
	font: 180% 'Lora', serif;	
}

article p, .landing-hdr {
	margin-left: 1%;
}

.image-row {
	margin-bottom: 2%;
}

.figure-caption {
	font: 85% 'Open Sans Condensed', sans-serif;
	margin-bottom: 1%;
}

.circle {
	width: 100%;
	height: auto;
	max-width: 150px;
	margin: 0 auto;
	display: block;
}

.options section {
	text-align: center;
}

@media(min-width: 1200px) {
	h3 {
		margin-top: 0;
	}
	.options section {
		text-align: left;
	}
}

@media (max-width: 767px) {
	.img-responsive {
		max-width: 50%;
		min-width: 300px;
		margin-bottom: 1%;
	}
}